/* Reset some default styles */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

/* wave icon animation */

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  /*  wave icon animation end */

  .intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-image{
    border-radius: 5%;
    max-width: 300px;

  }

.menu-icon {
    display: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 22px;
    font-weight: normal;
}

.nav-items-container {
    display: none;
    overflow-y: auto;
   
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

a:hover{
    color: #019b08;
    }
    
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    width: 100vw;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 2rem 1rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

h1, h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.title {
    font-size: 30px;
    text-align: left;
}

.description {
    font-size: 20px;
    text-align: left;
}

.sub-description {
    font-size: 25px;
    text-align: left;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
   display: flex;
    background: #f4f4f4;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.project-desc{
   width: 50%;
    text-align: center;
    text-align: justify;
    color: black;
    font-size: 20px;
}

.my-list li {
    margin-bottom: 20px; 
}

.project-img-block{
    display: flex;
    justify-content: center;
}

.wallet-project-img{
    width: 300px;
    border-radius: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5rem 0 0.2rem;
}

form input, form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.7rem;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    bottom: 0;
    p{
        text-align: center;
    }
}

.social-links{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
margin-bottom: 30px;

}

.icon-social{
    max-width: 50px;
    margin: 0px 10px 0px 10px;
}

/* animation mobile nav  */

@keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /*  media Query */

@media (max-width: 768px) {
    .nav-items-container-large{
        display: none;
    }
    .menu-icon {
        display: block;
    }

    .mobile-menu-icon{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }   

    .menu-title{
        width: 100%;
        text-align: center;
        margin: 0px;
    }

    nav ul {
        display: none;
    }
    .nav-items-container.active {
        display: block;
        animation: slideDown 0.3s ease-out forwards;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        font-size: 30px;
        margin-top: 100px;
        ul li{
            margin-bottom: 20px;
        }
    }
    nav ul {
        display: block;
    }
    nav li {
        display: block;
    }

    .intro{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    .profile-image{
        margin-top: 10px;
    }

    .description{
        text-align: justify;
    }

    .project-list {
        flex-direction: column;
    }

    .project {
        flex: 1 1 100%;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .project-desc{
        width: 100%;
    }
    .project-img-block{
        margin-top: 50px;
        width: 100%;
        img {
            width: 100%;
        }
    }

    .icon-social{
        max-width: 30px;
    }
}
